# This is a template .gitignore file for git-managed WordPress projects.

# Fact: you don't want WordPress core files, or your server-specific
# configuration files etc., in your project's repository. You just don't.

# Initial setup
wordpress/*

# Exclude themes and plugins folders except for...
!wordpress/wp-content/
wordpress/wp-content/*
!wordpress/wp-content/themes/
wordpress/wp-content/themes/*
!wordpress/wp-content/plugins/
wordpress/wp-content/plugins/*

# ...your custom theme
!wordpress/wp-content/themes/my-theme/

# ...your custom plugin
!wp-content/plugins/my-single-file-plugin.php
!wp-content/plugins/my-directory-plugin/

# See git's documentation for more info on .gitignore files:
# http://kernel.org/pub/software/scm/git/docs/gitignore.html

# Other ignores
.env
node_modules/